<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="44BF7AB1F43A5EF3F8BACD35A4E0183FA58BE2A2C89751AA0CF32105F51B99E5B22A8CD1A2F71027CFC56284D9D8CB37614CAEA6CA627EDAB9E368558BBE1CA5"
  decryptionKey="201AFB35590CFCBF2FC72C917A3758534F872F44ED40CBA6"
  validation="SHA1"
  decryption="AES"/>
  </system.web>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=CHIRU\SQLEXPRESS;Initial Catalog=TravelThings;User ID=sa;" />
   <!--<add name="conString" connectionString="Data Source=10.50.0.102;Initial Catalog=TravelThings;User ID=TravelThingsDb;"/>-->
  </connectionStrings>
  <!--
    <add name="conString" connectionString="Data Source=CHIRU\SQLEXPRESS;Initial Catalog=TravelThings;User ID=sa;"/>
    -->
  <!--<add name="conString" connectionString="Data Source=10.50.0.102;Initial Catalog=TravelThings;User ID=TravelThings;Password=Chiru5512#" />-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>